<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true">

    <testsuites>
        <testsuite name="PHP Unit Tests">
            <file>tests/SqlFunctionsTest.php</file>
            <file>tests/DatabaseFunctionsTest.php</file>
            <file>tests/LoggingTest.php</file>
        </testsuite>
        <testsuite name="Web / HTML Smoke Tests">
            <file>tests/HtmlStructureTest.php</file>
        </testsuite>
    </testsuites>

</phpunit>
